html {
    background-color:cornflowerblue;
}


body {
    font-family:fantasy;
}

header {
    font-size: 50px;
    margin-left: 5cm;
    font:bold;
}

footer {
    margin-left: 7cm;
    font:bold;
}

#form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-item {
    margin-right: 1.8rem;
}

label.primary {
    display: block;
    margin: 0.4em 0;
}

label::after{
    content: ":"
}

button, input[type="submit"] {    
    margin-top: 1rem;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px 10px;
   
    
  }
  
  #listening-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  .listening-list-item {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid black;
    border-radius: 5%;
    background:blanchedalmond;
  }
  

  